.board{
	display: grid;
	width: 50vh;
	height: 50vh;
}

.board-cell{
	border-style: solid;
	border-width: 1px;
}

.click-disabled{
	pointer-events: none;
}

.board-cell:hover{
	outline: solid rgb(245, 143, 10);
}

.hit-square{
	background-color: red;
}

.missed-square{
	background-color: rgb(30, 172, 238);
}

.sunk-ship{
	background-color: darkred;
}

.placement-container{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	row-gap: 20px;	
}

#placement-board{
	margin-right: 0px;
}

#orientation-btn{
	margin-top: 15px;
}