* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
}
body, .info-display, .ship-number-display{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}

.game-area{
	display: flex;
	margin-top: 20px;
	gap: 20px;
	height: 75%;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

